<main id="main" class="bookmark">
    <section>
        <h1>{{ x.lans("all_bookmarked_posts") }}</h1>
    </section>

    <section id="posts">
        
    {% for post in posts: %}
        {% include "_post.html" %}
    {% endfor %}

    </section>

    {% if count > posts|length and count != 0 %}
    <button href="/get_more_posts_bookmarked" mix-get mix-default="{{ x.lans('more_posts') }}" mix-await="{{ x.lans('loading...') }}" class="main_button" id="auto_show_more">
        {{ x.lans('more_posts') }}
    </button>
    {% endif %}
</main>