<main id="main" class="home">
    <section class="quick_post">
        {% if user['user_avatar'] == 'default.svg' %}
        <img src="{{ url_for('static', filename='images/'~user['user_avatar']) }}" alt="" class="profile_img">
        {% else %}
        <img src="{{ url_for('static', filename='users_uploads/'~user['user_avatar']) }}" alt="" class="profile_img">
        {% endif %}
        {% include "___home_post_form.html" %}
    </section>

    <section id="posts">
        
    {% for post in posts: %}
        {% include "_post.html" %}
    {% endfor %}

    </section>

    <button href="/get_more_posts_home" mix-get mix-default="{{ x.lans('more_posts') }}" mix-await="{{ x.lans('loading...') }}" class="main_button" id="auto_show_more">
        {{ x.lans('more_posts') }}
    </button>
</main>