<main id="main" class="profile">
    <section class="images">
        {% if userprofile['user_banner'] == 'default_banner.jpg' %}
        <img src="{{ url_for('static', filename='images/'~userprofile['user_banner']) }}" alt="" class="banner_img">
        {% else %}
        <img src="{{ url_for('static', filename='users_uploads/'~userprofile['user_banner']) }}" alt="" class="banner_img">
        {% endif %}
        
        {% if userprofile['user_avatar'] == 'default.svg' %}
        <img src="{{ url_for('static', filename='images/'~userprofile['user_avatar']) }}" alt="" class="profile_img">
        {% else %}
        <img src="{{ url_for('static', filename='users_uploads/'~userprofile['user_avatar']) }}" alt="" class="profile_img">
        {% endif %}
        
    </section>
    <section class="info">
        <div>
            <div>
                <header>
                    <h1>{{ userprofile['user_first_name'] }} {{ userprofile['user_last_name'] }}</h1>
                    <h2>@{{ userprofile['user_username'] }}</h2>
                </header>
                <span>·</span>
                <span>{{ x.lans('joined') }} {{ x.epoch_to_time(userprofile.user_created_at) }}</span>
            </div>
            <div>
                {% if userprofile['user_username'] != user['user_username'] %}
                    {% include "___profile_follow_button.html" %}
                {% endif %}
                {% if userprofile['user_username'] == user['user_username'] or user["user_role"] == "admin" %}
                    {% if userprofile['user_username'] == user['user_username'] %}
                    <a class="secoundary_button" mix-get href="/edit_profile">{{ x.lans('edit') }}</a>
                    {% endif %}
                    {% if userprofile['user_deleted_at'] != 0 and user["user_role"] == "admin" %}
                        <a class="secoundary_button red_button" mix-get href="/unban?user={{ userprofile['user_username'] }}" id="unban">{{ x.lans('unban') }}</a>
                    {% else %}
                        <a class="secoundary_button red_button" mix-get href="/delete_profile?user={{ userprofile['user_username'] }}" id="delete_account">{{ x.lans('delete_profile') }}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="user_stats">
            <div>
                <a mix-get href="/followers/{{userprofile['user_username']}}">
                    <p class="no_event">{{ x.lans('followers') }}</p>
                    <p class="no_event">{{ userprofile['user_total_followers'] }}</p>
                </a>
            </div>
            <div>
                <a mix-get href="/following/{{userprofile['user_username']}}">                
                    <p class="no_event">{{ x.lans('following') }}</p>
                    <p class="no_event">{{ userprofile['user_total_following'] }}</p>
                </a>
            </div>
            <div>
                <p>{{ x.lans('likes') }}</p>
                <p>{{ userprofile['user_total_likes'] }}</p>
            </div>
            <div>
                <p>{{ x.lans('posts') }}</p>
                <p>{{ userprofile['user_total_posts'] }}</p>
            </div>
        </div>
        <div class="user_bio">
            <p>{{ userprofile['user_bio'] }}</p>
        </div>
    </section>
    <section id="posts">

        {% for post in posts: %}
            {% include "_post.html" %}
        {% endfor %}
    
    </section>

    {% if count > posts|length and count != 0 %}
    <button href="/get_more_posts_profile?username={{ userprofile['user_username'] }}" mix-get mix-default="{{ x.lans('more_posts') }}" mix-await="{{ x.lans('loading...') }}" class="main_button" id="auto_show_more">
        {{ x.lans('more_posts') }}
    </button>
    {% endif %}
</main>