<!DOCTYPE html>
<html lang="{{ lan }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X - {{ x.site_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    
    {% if user_role %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_signup.css') }}">
    {% endif %}

    <script src="{{ url_for('static', filename='mixhtml.js') }}" defer></script>
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head> 
<body>
    <div id="error_response"></div>