body {
    padding-top: 30px;
}

main.dictionary {
    grid-column: 1 / 4;
}

nav {
    height: calc(100vh - 30px);
    top: 30px;
}

aside *.sticky{
    top: 30px;
}

admin-bar {
    z-index: 10;
    background: rgb(33, 33, 33);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 32px;

    a {
        color: white;
    }
}

.admin_all_users {
    grid-column: 1 span / 3;
    .users {
        &:has(.users) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 32px 16px;
            margin-top: 32px;
    
            > div {
                display: flex;
                align-items: center;
                flex-flow: column;
                gap: 8px;
    
                > a {
                    width: 100px;
                    height: 100px;
                    position: relative;
                    display: block;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 100px;
                    }
                }
    
                div:has(.name) {
                    width: 100%;
                    max-width: 130px;
                    overflow: hidden;
    
                    .name {
                        font-weight: 600;
                        font-size: 14px;
                        color: black;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    
    button {
        margin: 25px auto;
    }
}