body {
    padding-top: 30px;
}

main.dictionary {
    grid-column: 1 / 4;
}

nav {
    height: calc(100vh - 30px);
    top: 30px;
}

aside *.sticky{
    top: 30px;
}

admin-bar {
    z-index: 10;
    background: rgb(33, 33, 33);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 32px;

    a {
        color: white;
    }
}