body {
    display: grid;
    grid-template-columns: 30px 1fr;
    padding: 0 16px;
    
    @media (width > 768px) {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

.main_button {
    display: block;
    padding: 8px 32px;
    background: black;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background: rgb(50, 50, 50);
    }
}

.secoundary_button {
    display: block;
    padding: 8px 32px;
    background: rgb(207, 207, 207);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background: rgb(50, 50, 50);
    }
}

#burger_menu {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    z-index: 2;

    @media (width > 768px) {
        display: none;
    }
}

nav {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    border-right: 1px var(--border-color) solid;
    padding: 64px 64px 0 16px;
    transition: left 0.5s;
    background: white;

    ul {
        display: flex;
        flex-flow: column nowrap;
        gap: 6px;

        li {
            list-style-type: none;

            a.x-logo {
                display: flex;
                align-items: center;
                gap: 24px;
                position: relative;
                height: 60px;
                width: 60px;
                background: none;
                padding: 0;
                font-size: 24px;

                img {
                    height: 100%;
                    width: 100%;
                }

                &:hover {
                    background: none;
                }
            }

            a {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 8px 16px;
                color: black;
                border-radius: 50px;
                font-weight: 600;

                &.active {
                    background: rgb(242, 242, 242);
                }

                &:hover {
                    background: rgb(221, 221, 221);
                }
            }
        }
    }

    &.shown {
        left: 0;
    }

    @media (width > 768px) {
        position: sticky;
        left: unset;
        width: unset;
        padding: 16px 64px 0 0;
        border-right: 0;
    }

    #profile_tag {
        position: absolute;
        bottom: 0;
        padding: 16px 64px 16px 0;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        align-items: center;
        gap: 16px;
        width: 100%;

        img {
            height: 30px;
            width: 30px;
            border-radius: 50px;
            object-fit: cover;
        }

        div {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            text-align: center;
            overflow: hidden;
            width: 100%;

            .name {
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

main {
    height: 200vh;
    width: 100%;
    position: relative;

    @media (width > 768px) {
        border-right: 1px var(--border-color) solid;
        border-left: 1px var(--border-color) solid;
    }

    &.profile {
        --profile-avatar-width: 100px;

        .images {
            width: 100%;
            height: 200px;
            position: relative;

            .banner_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .profile_img {
                position: absolute;
                bottom: 0;
                left: 16px;
                height: var(--profile-avatar-width);
                width: var(--profile-avatar-width);
                border-radius: 100px;
                overflow: hidden;
                object-fit: cover;
                transform: translatey(50%);
            }
        }

        .info {
            display: flex;
            flex-flow: column nowrap;
            gap: 16px;
            width: 100%;
            padding: 0 0 32px calc(var(--profile-avatar-width) + 32px);
            border-bottom: 1px solid var(--border-color);

            > div:first-child {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 24px;

                > div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;

                    header {
                        margin-right: auto;
    
                        h2 {
                            font-size: 16px;
                            color: #696969;
                        }
                    }

                    span {
                        font-size: 16px;
                        color: #696969;
                    }
                }
                
            }

            > div:last-child {
                display: flex;
                justify-content: center;
                gap: 32px;

                div {
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 6px;
                    text-align: start;
                }
            }
        }
    }

    --profile_pic_height: 50px;
    --profile_pic_width: 50px;
    #posts article {
        position: relative;
        padding: 32px 16px;
        display: grid;
        grid-template-columns: var(--profile_pic_width) 1fr;
        gap: 16px;
        transition: background 0.5s;
        border-bottom: 1px var(--border-color) solid;

        img {
            width: var(--profile_pic_width);
            height: var(--profile_pic_height);
            border-radius: 50px;
            z-index: 2;
        }

        .post_info {
            display: flex;
            flex-flow: column nowrap;
            gap: 16px;
            
            .post_header {
                display: flex;
                align-items: center;
                height: var(--profile_pic_height);;
                gap: 16px;
                font-size: 12px;
                color: gray;
                
                .name {
                    font-weight: 500;
                    font-size: 14px;
                    color: black;
                }
            }

            .post_content {
                padding: 8px 0;
            }

            .post_actions {
                display: flex;
                gap: 32px;

                .action {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
            }
        }

        &:has(img:hover) .mini_profile, .mini_profile:hover {
            opacity: 1;
            pointer-events: all;
        }

        .mini_profile {
            transition: opacity 0.2s;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 16px;
            left: 0;
            width: 300px;
            height: fit-content;
            z-index: 1;
            background: white;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            overflow: hidden;
            padding: 16px 16px 16px calc(var(--profile_pic_width) + 32px);

            img {
                border-radius: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40px;
                object-fit: cover;
            }

            .mini_profile_header {
                margin-top: 25px;
                display: flex;
                align-items: center;
                gap: 16px;
                height: calc(var(--profile_pic_height));
                
                > div {
                    display: inline-flex;
                    flex-flow: column;
    
                    .name {
                        font-weight: 500;
                        font-size: 14px;
                        color: black;
                    }
                }
            }

            .text {
                margin-top: 12px;
            }
        }

        &:hover {
            background: rgb(243, 243, 243);
        }
    }
}

aside {
    display: none;

    @media (width > 768px) {
        display: block;
        padding: 64px 0 0 64px;
        background: white;

        > *.sticky {
            position: sticky;
            top: 16px;
        }
    }
}