:root {
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --x-blue: #1737ed;
    --border-color: rgb(219, 219, 219);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 14px;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: var(--x-blue);
    text-decoration: none;
}

main {
    padding: 0 16px;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;

    @media (width > 786px) {
        padding: 0 32px;
    }
}

.mix-error {
    background: rgb(255, 231, 231);
}

#error_response, #succes_message {
    z-index: 20;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    max-width: calc(100% - 32px);
    height: fit-content;
    background-color: red;
    color: white;
    border-radius: 10px;

    div {
        padding: 1rem;
    }
}

#succes_message {
    background-color: green;
}