main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    > figure {
        margin: 0 auto;
        width: fit-content;
        align-self: flex-end;
    }

    > div {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        align-self: flex-start;

        form {
            display: flex;
            flex-flow: column;
            align-items: center;
    
            > * {
                width: 100%;
                display: flex;
                flex-flow: column;
    
                label {
                    padding: 0.75rem 0 0.3rem 0;
                    display: block;
                }
                
                input, select {
                    padding: 0.75rem 1rem;
                    border: 1px solid black;
                    border-radius: 50px;
    
                    ::placeholder {
                        font-family: var(--font);
                    }
                }

                select {
                    cursor: pointer;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                }

                &.switch_language {
                    display: grid;
                    grid-template-columns: 3fr 1fr;
                    gap: 24px;

                    > div {
                        position: relative;

                        * {
                            width: 100%;
                        }

                        &:has(select)::after {
                            content: "⮟";
                            position: absolute;
                            bottom: 0.75rem;
                            right: 1em;
                            pointer-events: none;
                            transition: 0.5s;
                        }

                        &:has(select:focus)::after {
                            content: "⮟";
                            transform: rotate(180deg);
                        }
                    }
                    
                }

                &.two_inputs {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 32px;

                    > div {
                        * {
                            width: 100%;
                        }

                    }
                    
                }
    
            }
    
            button {
                margin-top: 1rem;
                padding: 0.75rem 2rem;
                width: fit-content;
                align-self: flex-start;
                border-radius: 50px;
                background: black;
                color: white;
                cursor: pointer;
            }
        }

        p {
            margin-top: 1rem;
        }
    }

    
    @media (width > 980px) {
        grid-template-columns: 1fr 1fr;
        align-items: center;

        > figure, > div {
            align-self: center;
        }
    }
}