<main id="main" class="profile">
    <h1>profile</h1>
    <section class="images">
        <img src="" alt="" class="banner_img">
        <img src="" alt="" class="profile_img">
    </section>
    <section class="info">
        <div>
            <header>
                <h2>name</h2>
            </header>
            <button>Følg</button>
            <button>stop følg</button>
            <button>Edit</button>
        </div>
        <div>
            <!-- Stats -->
            <p></p>
            <p></p>
            <!-- Stats -->
        </div>
    </section>
    <section class="posts">

    </section>
</main>