<div id="search_selector">
    <label for="search_for">{{x.lans('search_for')}}</label>
    <div>
        <input type="button" id="search_for" class="selector selector_style" value="{{ currently_selectet }}">
        <input name="search_for" type="hidden" value="{{ currently_selectet }}">
        <option-div>
        {% if currently_selectet != 'users' %}
        <a href="/change_search_for/users" mix-get>{{ x.lans('users') }}</a>
        {% endif %}
        {% if currently_selectet != 'posts' %}
        <a href="/change_search_for/posts" mix-get>{{ x.lans('posts') }}</a>
        {% endif %}
    </option-div>
    </div>
</div>