<article>
    <a mix-get href="/profile/{{post.user_username}}">
        {% if post.user_avatar == 'default.svg' %}
            <img src="{{ url_for('static', filename='images/'~post.user_avatar) }}" alt="" class="profile_img no_event">
        {% else %}
            <img src="{{ url_for('static', filename='uploads/'~post.user_avatar) }}" alt="" class="profile_img no_event">
        {% endif %}
    </a>

    <div class="mini_profile">
        {% if post.user_banner == 'default_banner.jpg' %}
            <img src="{{ url_for('static', filename='images/'~post.user_banner) }}" alt="" class="profile_img">
        {% else %}
            <img src="{{ url_for('static', filename='uploads/'~post.user_banner) }}" alt="" class="profile_img">
        {% endif %}
        <div class="mini_profile_header">
            <div>
                <a mix-get href="/profile/{{post.user_username}}">
                    <span class="name no_event">
                        {{ post.user_first_name }} {{ post.user_last_name }}
                    </span>
                </a>
                <span class="handle">@{{ post.user_username }}</span>
            </div>
            <span>·</span>
            <span class="time">{{ x.lans('joined') }} {{ x.epoch_to_time(user.user_created_at) }}</span>
        </div>
        <p class="text">{{ post.user_bio }}</p>
    </div>

    <div class="post_info">
        <div class="post_header">
            <span class="name">
                {{ post.user_first_name }} {{ post.user_last_name }}
            </span>
            <span class="handle">@{{ post.user_username }}</span> ·
            {% if post.post_updated_at != 0 %} 
                <span class="time">{{ x.lans('updated') }} {{ x.time_ago(post.post_updated_at) }}</span>
            {% else %}
                <span class="time">{{ x.lans('created') }} {{ x.time_ago(post.post_created_at) }}</span>
            {% endif %}
        </div>
        <div class="post_content">
            <p class="text">
                {{ post.post_message }}
            </p>
        </div>
        
        <div class="post_actions">
            <span class="action"><i class="fa-regular fa-comment"></i>{{ post.post_total_comments }}</span>
            {% include "___post_like.html" %}
            <span class="action"><i class="fa-regular fa-bookmark"></i>{{ post.post_total_saved }}</span>
            <!-- <span class="action"><i class="fa-solid fa-share"></i></span> -->
        </div>
    </div>
</article>