<article class="post" mix-fade-in="1000">
    <img src="{{ url_for('static', if filename='uploads/'~(post['user_avatar']) else  filename='images/'~(post['user_avatar']) ) }}">
    <div>
        <div class="post-header">
            <span class="name">
                {{ post.user_first_name }}
                {{ post.user_last_name }}
            </span>
            <span class="handle">@{{ post.user_username }}</span> · <span class="time"> {{ if post.post_updated_at != 0 else post.post_created_at }}</span>
        </div>
        <p class="text">
            {{ post.post_message }}
        </p>
        {% if tweet.post_image_path: %}
        <img src="{{ url_for('static', filename='images/' ~ tweet.post_image_path) }}" alt="Post image">
        {% endif %}
        
        <div class="post-actions">
            <span class="action"><i class="fa-regular fa-comment"></i> 12</span>
            <span class="action"><i class="fa-solid fa-retweet"></i> 5</span>
            {% include "___button_like_tweet.html" %}
            <span class="action"><i class="fa-solid fa-chart-simple"></i> 230</span>
            <span class="action"><i class="fa-solid fa-share"></i></span>
        </div>
    </div>
</article>