<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax post</title>
</head>
<body>
    
    <h1>
        AJAX POST
    </h1>

    <form>
        <input name="user_name" type="text" placeholder="Username">
        <input name="user_last_name" type="text" placeholder="Last name">
        <input name="user_nick_name" type="text" placeholder="Nick name">
        <button type="button" onclick = "save()" >
            Save
        </button>
        <div id="message">
    </div>
    </form>

    <script src="{{ url_for('static', filename = 'app.js' ) }}"></script>

</body>
</html>