{% include "global/header.html" %}

<div id="burger_menu">
    <img src="{{ url_for('static', filename='images/menu.svg') }}">
</div>

<nav>
    <ul>
        <li>
            <a href="#" class="x-logo">
                <img src="{{ url_for('static', filename='images/x_logo.svg') }}" alt="x logo">
                <span></span>
            </a>
        </li>

        <li>
            <a href="/home" mix-get mix-default="{{ x.lans('home') }}" mix-await="{{ x.lans('loading...') }}">
                <span>{{ x.lans('home') }}</span>
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="{{ x.lans('explore') }}" mix-await="{{ x.lans('loading...') }}">
                <span>{{ x.lans('explore') }}</span>
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="{{ x.lans('notifications') }}" mix-await="{{ x.lans('loading...') }}">
                <span>{{ x.lans('notifications') }}</span>
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="{{ x.lans('messages') }}" mix-await="{{ x.lans('loading...') }}">
                <span>{{ x.lans('messages') }}</span>
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-get mix-default="{{ x.lans('grok') }}" mix-await="{{ x.lans('loading...') }}">
                <span>{{ x.lans('grok') }}</span>
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="{{ x.lans('bookmarks') }}" mix-await="{{ x.lans('loading...') }}">
                <span>{{ x.lans('bookmarks') }}</span>
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="{{ x.lans('jobs') }}" mix-await="{{ x.lans('loading...') }}">
                <span>{{ x.lans('jobs') }}</span>
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="{{ x.lans('communities') }}" mix-await="{{ x.lans('loading...') }}" >
                <span>{{ x.lans('communities') }}</span>
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="{{ x.lans('premium') }}" mix-await="{{ x.lans('loading...') }}">
                <span>{{ x.lans('premium') }}</span>
            </a>
        </li>
        <li>
            <a href="/profile" mix-get mix-default="{{ x.lans('profile') }}" mix-await="{{ x.lans('loading...') }}">
                <span>{{ x.lans('profile') }}</span>
            </a>
        </li>
        <li>
            <a href="/logout" mix-await="{{ x.lans('loading...') }}">
                <span>{{ x.lans('logout') }}</span>
            </a>
        </li>
        <li>
            <button class="main_button">Post</button>
        </li>
    </ul>


    <div id="profile_tag">
        <img src="{{ url_for('static', filename='images/avatar_1.jpg') }}" alt="Profile">
        <div>
            <div class="name">
                TEST
            </div>
            <div class="handle">
                testname
            </div>
        </div>
        <p>icon</p>
    </div>
</nav>

{% include "main_site/home.html" %}

<aside>

</aside>

{% include "global/footer.html" %}