{% include "global/header.html" %}

<div id="burger_menu">
    <img src="{{ url_for('static', filename='images/menu.svg') }}">
</div>

<nav>
    <ul>
        <li>
            <a href="#" class="x-logo">
                <img src="{{ url_for('static', filename='images/x_logo.svg') }}" alt="x logo">
                <span></span>
            </a>
        </li>

        <li>
            <a href="/home" mix-get mix-default="<i class='fa-solid fa-house'></i>{{ x.lans('home') }}" mix-await="<i class='fa-solid fa-house'></i>{{ x.lans('loading...') }}" class="active">
                <i class='fa-solid fa-house'></i>{{ x.lans('home') }}
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="<i class='fa-solid fa-magnifying-glass'></i>{{ x.lans('explore') }}" mix-await="<i class='fa-solid fa-magnifying-glass'></i>{{ x.lans('loading...') }}">
                <i class='fa-solid fa-magnifying-glass'></i>{{ x.lans('explore') }}
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="<i class='fa-regular fa-bell'></i>{{ x.lans('notifications') }}" mix-await="<i class='fa-regular fa-bell'></i>{{ x.lans('loading...') }}">
                <i class='fa-regular fa-bell'></i>{{ x.lans('notifications') }}
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="<i class='fa-regular fa-envelope'></i>{{ x.lans('messages') }}" mix-await="<i class='fa-regular fa-envelope'></i>{{ x.lans('loading...') }}">
                <i class='fa-regular fa-envelope'></i>{{ x.lans('messages') }}
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-get mix-default="<i class='fa-solid fa-atom'></i>{{ x.lans('grok') }}" mix-await="<i class='fa-solid fa-atom'></i>{{ x.lans('loading...') }}">
                <i class='fa-solid fa-atom'></i>{{ x.lans('grok') }}
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="<i class='fa-regular fa-bookmark'></i>{{ x.lans('bookmarks') }}" mix-await="<i class='fa-regular fa-bookmark'></i>{{ x.lans('loading...') }}">
                <i class='fa-regular fa-bookmark'></i>{{ x.lans('bookmarks') }}
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="<i class='fa-solid fa-briefcase'></i>{{ x.lans('jobs') }}" mix-await="<i class='fa-solid fa-briefcase'></i>{{ x.lans('loading...') }}">
                <i class='fa-solid fa-briefcase'></i>{{ x.lans('jobs') }}
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="<i class='fa-solid fa-users'></i>{{ x.lans('communities') }}" mix-await="<i class='fa-solid fa-users'></i>{{ x.lans('loading...') }}" >
                <i class='fa-solid fa-users'></i>{{ x.lans('communities') }}
            </a>
        </li>
        <li>
            <a href="#" mix-get mix-default="<i class='fa-solid fa-star'></i>{{ x.lans('premium') }}" mix-await="<i class='fa-solid fa-star'></i>{{ x.lans('loading...') }}">
                <i class='fa-solid fa-star'></i>{{ x.lans('premium') }}
            </a>
        </li>
        <li>
            <a id="profile" href="/profile" mix-get mix-default="<i class='fa-regular fa-user'></i>{{ x.lans('profile') }}" mix-await="<i class='fa-regular fa-user'></i>{{ x.lans('loading...') }}">
                <i class='fa-regular fa-user'></i>{{ x.lans('profile') }}
            </a>
        </li>
        <li>
            <a href="/logout" mix-await="<i class='fa-solid fa-right-from-bracket'></i>{{ x.lans('loading...') }}">
                <i class='fa-solid fa-right-from-bracket'></i>{{ x.lans('logout') }}
            </a>
        </li>
        <li>
            <button class="main_button">{{ x.lans('post') }}</button>
        </li>
    </ul>


    <a href="/edit_profile" mix-get id="edit_profile">
        {% include "___profile_tag.html" %}
    </a>
</nav>

{% include "main_pages/home.html" %}

<aside>
    <p>content</p>
    <div class="sticky">
        <p>HEJJJJJ</p>
    </div>
</aside>

{% include "global/footer.html" %}