{% include "global/header.html" %}

<main>
    <figure>
        <svg width="300" height="300" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"/></svg>
    </figure>
    <div>
        <h1>{{ x.lans('sign_up_to') }} X</h1>
        <form action="/signup/{{ lan }}" mix-post autocomplete="off">
            <div class="switch_language">
                <div>
                    <label for="user_email">{{ x.lans('email') }}</label>
                    <input name="user_email" type="text" id="user_email" placeholder="{{ x.lans('email') }}" mix-check="{{ x.REGEX_EMAIL }}">
                </div>
                <div>
                    <label for="user_language">{{ x.lans('language') }}</label>
                    <select name="user_language" id="user_language">
                        <option value="english" {% if lan == "english" %} selected {% endif %}>
                            English 
                            <img src="/static/images/flag_english.png" alt="english" width="10px" height="10px"> 
                        </option>
                        <option value="danish" {% if lan != "danish" %} selected {% endif %}>
                            Danish
                            <img src="/static/images/flag_danish.png" alt="danish" width="10px" height="10px">
                        </option>
                        <option value="spanish" {% if lan != "spanish" %} selected {% endif %}>
                            Spanish
                            <img src="/static/images/flag_spanish.png" alt="flag_spanish" width="10px" height="10px">
                        </option>
                    </select>
                </div>

            </div>
            <div>
                <label for="user_password">{{ x.lans('password') }}</label>
                <input name="user_password" type="password" id="user_password" placeholder="{{ x.lans('password') }}" mix-check="{{ x.REGEX_USER_PASSWORD }}">
            </div>
            <div>
                <label for="user_phone">{{ x.lans('phone_number') }}</label>
                <input name="user_phone" type="tel" id="user_phone" placeholder="{{ x.lans('phone_number') }}" mix-check="{{ x.REGEX_USER_PASSWORD }}">
            </div>
            <div>
                <label for="user_username">{{ x.lans('username') }}</label>
                <input name="user_username" type="text" id="user_username" placeholder="{{ x.lans('username') }}" mix-check="{{ x.REGEX_USER_USERNAME }}">
            </div>
            <div class="two_inputs">
                <div>
                    <label for="user_first_name">{{ x.lans('first_name') }}</label>
                    <input name="user_first_name" type="text" id="user_first_name" placeholder="{{ x.lans('first_name') }}" mix-check="{{ x.REGEX_USER_PASSWORD }}">
                </div>
                <div>
                    <label for="user_last_name">{{ x.lans('last_name') }}</label>
                    <input name="user_last_name" type="text" id="user_last_name" placeholder="{{ x.lans('last_name') }}" mix-check="{{ x.REGEX_USER_PASSWORD }}">
                </div>
            </div>
            <button mix-default="{{ x.lans('sign_up') }}" mix-await="{{ x.lans('logging_in...') }}" type="submit">
                {{ x.lans('sign_up') }}
            </button>
        </form>
        <p>
            {{ x.lans('allready_have_an_account') }}
            <a href="{{ url_for('login') }}">{{ x.lans('log_in') }}</a>
        </p>
    </div>
</main>

{% include "global/footer.html" %}