{% include "global/header.html" %}

<main>
    <figure>
        <svg width="300" height="300" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"/></svg>
    </figure>
    <div>
        <h1>{{ x.lans('sign_up_to') }} X</h1>
        <form action="/signup" mix-post autocomplete="off">
            <div class="switch_language">
                <div>
                    <label for="user_email">{{ x.lans('email') }}</label>
                    <input name="user_email" type="text" id="user_email" placeholder="{{ x.lans('email') }}" mix-check="{{ x.REGEX_EMAIL }}">
                </div>
                <div>
                    <label for="user_language">{{ x.lans('language') }}</label>
                    <div>
                        <input name="user_language" type="button" id="user_language" class="selector" value="{{ x.lans(x.default_language) }}" placeholder="{{ x.lans('language') }}" mix-check="{{ x.REGEX_USER_PASSWORD }}">
                        <option-div>
                            {% if x.default_language != 'danish' %}
                            <a href="/signup/danish"><img src="/static/images/flag_danish.png" alt="Danish"> Dansk</a>
                            {% endif %}
                            {% if x.default_language != 'english' %}
                            <a href="/signup/english"><img src="/static/images/flag_english.png" alt="English"> English</a>
                            {% endif %}
                            {% if x.default_language != 'spanish' %}
                            <a href="/signup/spanish"><img src="/static/images/flag_spanish.png" alt="Spanish"> Español</a>
                            {% endif %}
                        </option-div>
                    </div>
                </div>
            </div>
            <div>
                <label for="user_password">{{ x.lans('password') }}</label>
                <input name="user_password" type="password" id="user_password" placeholder="{{ x.lans('password') }}" mix-check="{{ x.REGEX_USER_PASSWORD }}">
            </div>
            <div>
                <label for="user_password_confirm">{{ x.lans('confirm_password') }}</label>
                <input name="user_password_confirm" type="password" id="user_password_confirm" placeholder="{{ x.lans('confirm_password') }}" mix-check="{{ x.REGEX_USER_PASSWORD }}">
            </div>
            <div>
                <label for="user_username">{{ x.lans('username') }}</label>
                <input name="user_username" type="text" id="user_username" placeholder="{{ x.lans('username') }}" mix-check="{{ x.REGEX_USER_USERNAME }}">
            </div>
            <div class="two_inputs">
                <div>
                    <label for="user_first_name">{{ x.lans('first_name') }}</label>
                    <input name="user_first_name" type="text" id="user_first_name" placeholder="{{ x.lans('first_name') }}" mix-check="{{ x.REGEX_USER_FIRST_NAME }}">
                </div>
                <div>
                    <label for="user_last_name">{{ x.lans('last_name') }}</label>
                    <input name="user_last_name" type="text" id="user_last_name" placeholder="{{ x.lans('last_name') }}" mix-check="{{ x.REGEX_USER_LAST_NAME }}">
                </div>
            </div>
            <button mix-default="{{ x.lans('sign_up') }}" mix-await="{{ x.lans('signing_up...') }}" type="submit">
                {{ x.lans('sign_up') }}
            </button>
        </form>
        <p>
            {{ x.lans('allready_have_an_account') }}
            <a href="/login/{{ x.default_language }}">{{ x.lans('log_in') }}</a>
        </p>
    </div>
</main>

{% include "global/footer.html" %}